*{
    box-sizing: border-box;
    margin: 0;
}
body {
    min-height: 100vh;
    font-family: 'Roboto Slab', serif;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(40%, #f6f7f8), to(rgba(255, 0, 0, 0))), url(../img/imgdata13.jpg);
    background: linear-gradient(to bottom right, #f6f7f8 40%, rgba(255, 0, 0, 0)), url(../images/puzzle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.__header {
    display: flex;
    flex-direction: column;
    background: #343a40;
    color: white;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 150px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 25px;
}
.header__nav{
    align-self: center;
}
.link-to-explanation {
    color: lightgrey;
    cursor: pointer;
}
.__main{
    min-height: 100vh;
    padding-top: 149px;
}
.intro__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 60px 20px;
    margin-bottom: -23px;
    color: black;
}
.intro__container--minim {
    min-height: auto;
    padding: 20px;
}

.btn--intro__container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.btn {
    padding: .375rem .75rem;
    margin: 10px;
    height: 40px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    color: inherit;
    font-family: inherit;    
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffdc60;
    border: 2px solid #182b3a;
    border-radius: .25rem;
    transition: background-color .3s ease-in-out,border-color .3s ease-in-out, box-shadow .3s ease-in-out;    
}
.btn:hover {
    border: #182b3a;
    background-color: #343a40;
    color: white;
}
.btn--disabled {
    background: lightgrey;
    color: grey;
    border: 2px solid lightgrey;
    cursor: unset;
}
.btn--stop {
    background-color: red;
    border: 2px solid red;
    color: white;
}
.game__main-contain {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    margin-bottom: 10px;
}
.score__container {
    padding: 15px;
}
.questions__container {
    padding: 15px;
}
.question__title-container {
    display: flex;
    position: relative;
}
.title {
    margin: 5px;
}
.question__title {
    align-self: center;
}
.timer {
    align-self: center;
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: blue;
    position: absolute;
    top: -10px;
    right: -45px;
}
.question__answers {
    list-style: none;
    padding: 15px 0;
}
.answer {
    margin: 10px;
}
.message--result{
    padding: 15px;
    font-weight: bold;
}
.msg--correct, .correct {
    color: #21af21;
}
.msg--incorrect, .incorrect {
    color: red;
}
.bold {
    font-weight: bold;
}
.statistics__container {
    padding: 15px 30px;
}
.player--name{
    margin: 15px;
    padding: 5px;
    font-family: inherit;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 0 0 2px grey;
}
.records__title{
    text-align: center;
}
.records__table {
   min-width: 30%;
   border: 1px solid #000;
   border-spacing: 0;
   border-collapse: collapse;
}
.records__table--player {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.records__table--player td {
    min-width: 25%;
    padding: 5px;
    text-align: left;
    border: 1px solid #000;  
    font-weight: bold; 
}
.records__table--player td:last-child {
    text-align: right;
}
@media all and (min-width: 375px) {
    .__header{
        height: 100px;
    }
    .__main{
        padding-top: 99px;
    }
}

@media all and (min-width: 600px) {
    .__header{
        flex-direction: row;
        justify-content: space-between;
        height: 80px;
    }
    .__main{
        padding-top: 79px;
    }
    .btn--intro__container{
        flex-direction: row;
    }
    .game__main-contain {
        flex-direction: row;
        justify-content: space-between;
    }
    .score__container {
        padding: 15px;
        position: absolute;
        right: 25px;
        top: 175px;
    }
    
}